:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;  
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header--container {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 6px;
}

.header--title {
  font-size: 1.25rem;
  margin-right: auto;
}

.header--project {
  font-size: 0.75rem;
  font-weight: 500;
}

.meme--container {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
  padding: 36px;
}

.meme--input {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 10px;
}

.meme--button {
  grid-column: 1 / -1;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  border: none;
  cursor: pointer;
}

.meme--image {
  max-width: 100%;
}